body {
  margin: 0;
  padding: 0;
}
/* ABSOLUTE */
.header__inner {
  width: 500px;
  height: 500px;
  margin: auto;
  background: yellow;
}

.box {
  width: 200px;
  height: 100px;
  position: relative;
}
.fixbox {
  background-color: goldenrod;
  width: 100%;
  height: 100px;
  margin: auto;
  position: fixed;
}

.box1 {
  background-color: coral;
  top: 50px;
  left: calc(100%);
}
.box2 {
  background-color: blue;
  top: 100px;
  right: calc(40%);
}
.box3 {
  background-color: orange;
  top: 150px;
  left: calc(100%);
}
