header {
    max-width: 90%;
    padding: 20px;
    height: 100px;
    background-color: rgba(130, 0, 0, 0.2);
    margin: 0 auto;
    box-sizing: border-box;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .inner .navbar__logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
header .inner .navbar__logo .logo {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 12px;
}

header .inner .navbar__menu {
    display: flex;
}
header .inner .navbar__menu li {
    font-size: 16px;
    font-weight: 300;
    padding: 24px;
    background-color: white;
    border-radius: 2px;
    margin-right: 10px;
}

header .inner .navbar__icons {
    display: flex;
    padding: 24px;
}

header .inner .navbar__icons i {
    margin-right: 5px;
    font-size: 20px;
}
#navbar__toglebutton {
    display: none;
}

/* MEDIA QUERY */
@media (max-width: 996px) {
    header {
        height: auto;
    }
    header .inner {
        flex-direction: column;
        /* align-items: flex-start; */
    }
    header .inner .navbar__logo {
        /* margin-bottom: 16px; */
        align-self: flex-start;
    }
    header .inner .navbar__menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    header .inner .navbar__menu li:first-child {
        margin-top: 20px;
    }
    header .inner .navbar__menu li {
        margin-top: 4px;
    }

    header .inner .navbar__icons {
        display: none;
    }

    #navbar__toglebutton {
        display: block;
        position: absolute;
        top: 0;
        right: 12px;
    }

    header .inner .navbar__menu.active,
    header .inner .navbar__icons.active {
        display: flex;
    }
}
